<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ExcelSheetPath" value="H:\Masking_sample\Registration.xlsx" /> <!--Data classifcation spreasheet see excel format in sharepoint-->
    <add key="jsonPath" value="example-configs//copyJS.json" /> <!--Ignore this-->
    <add key="jsonMapPath" value="classification-configs//Registration_config.json" /> <!--Json config name format = APP_NAME_config.json-->
    <add key="TestJson" value="\\SFP.IDIR.BCGOV\U130\SOOKEKE$\Masking_sample\APP_PAT\Registration1_config.json" /> <!--Have a test Json full path to work on - Ignore if not-->
    <add key="RunTestJson" value="No" /><!--Always Set this No if you do not have test Json-->
     <add key="DatabaseName" value="Registration" /> <!--Database name-->
    <add key="WriteDML" value="Yes" /> <!--Generate DML? [Yes/No]-->
    <add key="MaskedCopyDatabase" value="No" /> <!--Mask database or tst copy? [Yes/No]-->
    <add key="RunValidation" value="Yes" /> <!-- RUN data masking validation test? [Yes/No]-->
    <add key="EmailValidation" value="Yes" /> <!--Send validation test report as email? [Yes/No]-->
    <add key="MaskTabletoSpreadsheet" value="Yes" /> <!--Generate masked tables as spreadsheet? [Yes/No]-->
    <add key="Hostname" value="127.0.0.1" /> <!--Server or host name-->
    <add key="DataSourceType" value="PostgresServer" /> <!--Value = SqlServer for MS Sql Server and PostgresServer-->
    <add key="APP_NAME" value="public" /> <!--Database name here. use this APP_NAME in exception path config--> <!--schema name here-->
    
    <!--ConnectionString to Masked copy here-->
    <!--<add key="ConnectionString" value="H:\Masking CSV\EUM.csv"/>--> <!--connectionstring for SpreadSheet masking. DataSourceType must be SpreadSheet-->
    <!--<add key="ConnectionString" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=ascot1.th.gov.bc.ca)(PORT=20204))(CONNECT_DATA=(SID=DBAAT)));User id=app_gwp_masked; Password =****;" /> --><!--ConnectionString to Mask copy here-->
    <add key="ConnectionString" value="Data Source=sql.th.gov.bc.ca; Initial Catalog=LIS_Prd_copy;Integrated Security=True;Connect Timeout=0;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" /><!--for sqlserver-->
    <!--<add key="ConnectionString" value="Server=127.0.0.1;User Id=postgres; Password=****;Database=masking_sample;" />-->
   
    <!--ConnectionString to PRD copy here-->
    <!--<add key="ConnectionStringPrd" value="Server=127.0.0.1;User Id=postgres; Password=****;Database=masking_sample;" />-->
    <add key="ConnectionStringPrd" value="Data Source=sql.th.gov.bc.ca; Initial Catalog=LIS_Prd;Integrated Security=True;Connect Timeout=0;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" /><!--for sqlserver-->
    <!--<add key="ConnectionStringPrd" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=ascot1.th.gov.bc.ca)(PORT=20204))(CONNECT_DATA=(SID=DBAAT)));User id=app_gwp; Password =****;" /> --><!--ConnectionString to PRD copy here--><!--

    --><!--Mail configuration-->
    <add key="fromEmail" value="stanley.okeke@gov.bc.ca" /><!--Sender Email Address, must be logged in to outlook-->
    <add key="RecipientEmail" value="stanley.okeke@gov.bc.ca" />
    <add key="cCEmail" value="" />
    
    <add key="attachDML" value="Yes" /><!--[Yes/No]-->
    <add key="attachMaskException" value="Yes" /><!--[Yes/No]-->
    <add key="attachSpreadsheet" value="Yes" /><!--[Yes/No]-->
    <!--exception path config-->
    <add key="_exceptionpath" value="\Output\Registration_exception.txt" /> <!--Format is \output\[Databasename]_exception.txt-->
    <add key="_successfulCommit" value="\Output\LIS_successfulCommit.txt" /> <!--Format is \output\[Databasename]_successfulCommit.txt--> 
  </appSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <publisherPolicy apply="no" />
                <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.122.19.1" newVersion="4.122.19.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="MimeKit" publicKeyToken="bede1c8a46c66814" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.data>
        <DbProviderFactories>
            <remove invariant="Oracle.ManagedDataAccess.Client" />
            <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
        </DbProviderFactories>
    </system.data>
    <oracle.manageddataaccess.client>
        <version number="*">
            <dataSources>
                <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
            </dataSources>
        </version>
    </oracle.manageddataaccess.client>
</configuration>
